---
---

$font-family-base: Lato, sans-serif;
$font-size-base: 14px;

$off-black: #263238;
$header-color: $off-black;
$logo-color: $off-black;

@import 'bootstrap';

.logo {
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.7em;

	small {
		font-family: $font-family-base;
		font-weight: 300;
		font-style: italic;
		display: block;
		font-size: 0.59em;
	}

	.jumbotron &, {
		font-size: 80px;
		&, small { color: $header-color; }
	}
}
