---
---

@import 'material-design-theme-sass/colors';

$font-family-base: Lato, sans-serif;
$headings-font-family: Montserrat, sans-serif;
$font-family-monospace: 'Source Code Pro', Monaco, Consolas, monospace;
$font-size-base: 14px;

$brand-primary: $color-light-blue;
$brand-success: $color-green-400;
$brand-info:    $color-teal-A400;
$brand-warning: $color-amber-A400;
$brand-error:   $color-red-400;

$text-color: rgba($color-grey-1000, 0.87);
$secondary-text-color: rgba($color-grey-1000, 0.54);
$btn-default-color: $secondary-text-color;

$headings-color: $color-blue-grey-900;
$logo-color: $color-blue-grey-900;

@import 'bootstrap';
$fa-font-path: '/bower_components/font-awesome/fonts';
@import 'font-awesome';
@import url('/bower_components/Lanai/lanai.css');

h1, h2, h3 {
	letter-spacing: -0.02em;
}

.jumbotron {
	h1 { font-size: 80px; }
	h2 { font-size: 36px; }
}

.logo {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 0.7em;
	display: inline-block;
	letter-spacing: -0.05em;

	small {
		font-family: $font-family-base;
		font-weight: 300;
		font-style: italic;
		display: block;
		font-size: 0.59em;
		letter-spacing: -0.04em;
	}

	.jumbotron &, {
		&, small { color: $headings-color; }
	}
}

.triangles {
	background: url(/images/background.svg);
	background-size: cover;
}

.jumbotron.cover {
	height: 100vh;
	text-align: center;
	.row { text-align: left; }
}

.whisk {
	background: url(/images/logo.svg) no-repeat;
	background-size: 260px 100px;
	
	background-position: center top;
	padding-top: 110px;

	@media (min-width: $screen-sm-min) {
		background-position: left center;
		padding-left: 270px;
		padding-top: 0;
	}
}

.highlight {
	pre {
		background: none;
		color: inherit;
		border: 0 none;
	}
	border-radius: 4px;
}

pre {
	&.command {
		text-align: center;
		&:before {
			content: '❯';
			color: $gray-light;
			float: left;
			width: 18px;
		}
	}
	
	letter-spacing: -0.05em;
}
